<content>
    <main>
        <div class="title">
            <img src="/assets/images/me.jpg" alt="">
            <h1 class="text-large">SOU HENGTONG <p class="text-small">Front-end, Back-end WEB DEVELOPER</p></h1>
        </div>
        <div class="resume">
            <div class="left border-end">
                <div class="profile">
                    <div class="text-medium">Profile</div>
                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Voluptates possimus velit odit? Culpa ea hic autem natus vel. 
                        Amet facere dolorum impedit quae. Eligendi maxime alias corporis dolorum recusandae voluptates.
                    </span>
                </div>
                <div class="skills">
                    <div class="text-medium">Skills</div>
                    <div class="text-small">Primary skills</div>
                    <ul>
                        <li>Front-end Web UI/UX</li>
                        <li>Front-end Web Analytic</li>
                        <li>Front-end Web Testing</li>
                    </ul>
                </div>
                <div class="more">
                    <div class="text-medium">More</div>
                    <ul style="list-style: none;">
                        <li><i class="fa-brands fa-facebook">&nbsp;ហេង​តុង​ ស៊ូ</i></li>
                        <li><i class="fa-brands fa-telegram">&nbsp;+885 87744360</i></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="education">
                    <div class="text-medium">Education</div>
                    <ul>
                        <div class="text-small">Hight School Diploma</div>
                        <li><b>2018-2019 :</b>Hun Sen Sereypheap High School</li>
                        <div class="text-small">Bachelar</div>
                        <li><b>2022-2023 :</b>Royal University of PhnomePenh</li>
                    </ul>
                </div>
                <div class="component">
                    <div class="text-medium">About</div>
                    <ul>
                        <li><div class="text-small">Goal</div><p>Looking for front-end Web-Developement position to claim experiences and want to be a real front-end Web-Developer in the future.</p></li>
                        <li><div class="text-small">Experience</div>I Used to be a front-end Web-Developer as internship in a company for 3months.</li>
                        <li><div class="text-small">School project</div>I can using PHP&SQL to create CRUD Operator</li>
                    </ul>
                </div>
                <div class="link">
                    <div class="text-small">Link to view our project</div>
                    <p>Here is github link: <a href="">clink here</a></p>
                </div>
            </div>
        </div>
    </main>
</content>