<content>
    <main>
        <div class="title">
            <img src="/assets/images/me.jpg" alt="">
            <h1 class="text-large">SOU HENGTONG <p class="text-small">Front-end, Back-end WEB DEVELOPER</p></h1>
        </div>
        <div class="resume">
            <div class="left">
                <div class="profile">
                    <div class="text-medium">Profile</div>
                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Voluptates possimus velit odit? Culpa ea hic autem natus vel. 
                        Amet facere dolorum impedit quae. Eligendi maxime alias corporis dolorum recusandae voluptates.
                    </span>
                </div>
                <div class="skills">
                    <div class="text-medium">Skills</div>
                    <div class="text-small">Primary skills</div>
                    <ul>
                        <li>Front-end Web UI/UX</li>
                        <li>Front-end Web Analytic</li>
                        <li>Front-end Web Testing</li>
                    </ul>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </main>
</content>