.example-spacer {
    flex: 1 1 auto;
}
.container{
    width:20vw;height:100vh;background-color:aquamarine;
}
.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */

}

.example-sidenav {
    padding: 0px;
    display: flex;
    
}
#btn-showFiller{
    position: absolute;
    top:0;right:0;
    width:15x;
    height: 100%;
    font-size: 5pt;
    border: none;
}