/* #user{
    position: absolute;
    right: 10px;
} */



/* .active{color:black;padding: 5px;} */

.container{
    width:20vw;height:100vh;background-color:rgb(30, 45, 92);
}

mat-toolbar{display: flex;justify-content: space-between;align-items: center;background-color: rgba(19, 19, 27, 0.94);position: sticky;}

.btn-bar,.btn-x{display: none;}


.tbl{
    width: 50%;
    margin: 40px auto;
}
th{
    font-weight: 500;
}
.row{
    box-shadow: 0 1px 0 gray;
}
.lists a{color:white}

.popup{width: 100vw;height: 100vh;background-color: rgba(32, 20, 43, 0.597);position: absolute;z-index: 30;}

@media screen and (max-width:500px){
    .lists{display: none;}
    .btn-bar,.btn-x{display:flex;cursor: pointer;position: absolute; top: .7rem;right:.7rem;}
}