.example-spacer {
    flex: 1 1 auto;
}
.container{
    width:20vw;height:100vh;background-color:aquamarine;
}




.tbl{
    width: 70%;
    margin: 40px auto;
}
th{
    font-weight: 500;
}
.row{
    box-shadow: 0 1px 0 gray;
}