
<mat-toolbar>
    
    <span routerLink="home" style="cursor:pointer;display:flex;font-size: 30pt;font-weight: 600;font-family: monospace;">
        <p style="color:lightgreen">TO</p> 
        <p style="color: blueviolet;">NG</p>
    </span>
    <div class="lists">
        <a class="btn item" routerLink="home" routerLinkActive="text-info">Home</a>
        <a class="btn item" routerLink="services" routerLinkActive="text-info">Services</a>
        <a class="btn item" routerLink="products" routerLinkActive="text-info">Products</a>
        <a class="btn item" routerLink="contact" routerLinkActive="text-info">Contact</a>
        <a class="btn item" routerLink="about" routerLinkActive="text-info">About</a>
    </div>
    <mat-icon class="fa fa-bars btn-bar" color="primary" (click)="showSidenav()" *ngIf="!showFiller"></mat-icon>
    <mat-icon class="fa fa-close btn-x" color="disabled" (click)="showSidenav()" *ngIf="showFiller"></mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>





