body {
    width: 100vw;
    height: auto;
    padding: 50px 0;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frm-contact {
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #2a3c3c9d;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

input,textarea {width: 100%;font-family: georgia;text-shadow: 0 0 3px grey;}
.title{
    font-family: san-serif;color:#fff;
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 25px #f483bd,0 0 40px #f483bd,0 0 55px #f483bd;
}
span{font-family: cambria;color:#fff;text-shadow: 0 0 3px #000,0 0 4px #fff,0 0 5px #fff;}