<body class="center-items">
    <form class="frm-contact rounded" [formGroup]="myfrmGroup">
    <p class="text-large title" style="text-align: center;">Your Comment</p>
    <span>Name</span>
    <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder="John Moe">
    <span>Phone Number</span>
    <input type="number" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="0123456789">
    <span>Email</span>
    <input type="email" name="" id="" formControlName="email" class="form-control" placeholder="email123@gmail.com">
    <span>Comment</span>
    <textarea name="" id="" cols="30" rows="10" formControlName="message" class="form-control" placeholder="comment"></textarea>
    <div class="button">
        <button mat-flat-button color="accent" color="">Cancel</button>&nbsp;
        <button (click)="onSubmit()" mat-flat-button color="primary" type="submit">Send</button>
    </div>
</form>
</body>

