
<main>
    <content>
        <div class="desc center-items flex-column">
            <span class="text-large">Hello! &nbsp;<p class="text-info" style="text-shadow: 0 0 5px rgb(100, 199, 242);">Again</p></span>
            <h2 class="text-small">I'm a Computer Science student.</h2>
            <h3 class="text-small">Graduated from Royal University of PhnomPenh</h3>
            <h1 class="text-medium">Interested in Front, Back-end Web Development</h1>
        </div>

        <div class="serve">
            <p class="text-large">Technologies I can use</p>
            <div class="languages table container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><i style="color:#ff2f00" class="fa-brands fa-html5"></i></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><i style="color:#0b42f6" class="fa-brands fa-css3-alt"></i></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><i style="color:#ffeb0f" class="fa-brands fa-square-js"></i></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><i style="color:#532b7a" class="fa-brands fa-php"></i></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><img src="/assets/images/csharp.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="serve">
            <p class="text-large">Frameworks I still figure out</p>
            <div class="languages table container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><img src="/assets/images/angular.png" alt=""></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><img src="/assets/images/react.png" alt=""></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><img src="/assets/images/flutter.png" alt=""></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><img src="/assets/images/laravel.png" alt=""></div>
                    <div class="col-lg-2 col-md-4 col-sm-12 yo"><img src="/assets/images/pythondjango.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </content>
</main>