a{text-decoration: none;padding:5px 10px;background-color: rgb(32, 20, 48);color: white;}
.sidnav{width: auto;height: auto}
.lists{display:flex;flex-direction: column;align-items:end;gap: 15px;}
.btn-close{position: absolute;top:0;right: 0;}
.item{box-shadow:-2px -2px 0px gray;}