<div class="drawer.toggle()" *ngIf="val" class="sidenav">
    <div class="lists">
        <br>
        <a class="item" routerLink="home" routerLinkActive="text-info">Home</a>
        <a class="item" routerLink="services" routerLinkActive="text-info">Services</a>
        <a class="item" routerLink="products" routerLinkActive="text-info">Products</a>
        <a class="item" routerLink="contact" routerLinkActive="text-info">Contact</a>
        <a class="item" routerLink="about" routerLinkActive="text-info">About</a>
    </div>
</div>