<div class="drawer.toggle()" *ngIf="val" class="sidenav">
    <div class="lists">
        <a class="item center-items" routerLink="home" routerLinkActive="active"><i class="fa-solid fa-house"></i></a>
        <a class="item center-items" routerLink="services" routerLinkActive="active"><i class="fa-solid fa-user-tie"></i></a>
        <a class="item center-items" routerLink="products" routerLinkActive="active"><i class="fa-brands fa-product-hunt"></i></a>
        <a class="item center-items" routerLink="contact" routerLinkActive="active"><i class="fa-regular fa-address-card"></i></a>
        <a class="item center-items" routerLink="about" routerLinkActive="active"><i class="fa-solid fa-user"></i></a>
    </div>
</div>