<body>
    <content>
        <div class="desc">
            <div class="text-large text-purple">Hello!<br>I'm Sou Hengtong</div>
            <div class="text-medium text-secondary">Front-end Web Developer</div>
            <div class="text-small description">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil ratione, enim id sapiente, saepe earum minus ut aliquid voluptatibus deserunt quod qui soluta quaerat odit quas blanditiis harum fugit.</div>
            <div class="button">
                <button mat-flat-button color="">VIEW RESUME</button>
                <button mat-flat-button color="primary">DOWNLOAD RESUME</button>
            </div>
        </div>
        <div class="profile">
            <img src="/assets/images/profile.png" alt="" srcset="">
        </div>
    </content>
</body>
