<div *ngIf="showResume" class="account_container">
    <div class="title">
        <span><strong class="font-20pt">SOU HENGTONG</strong><p class="font-14pt">STUDENT</p></span>
    </div>
    <div class="me">
        <div class="detail">
            <div class="image" *ngIf="profile">
                <img src={{profile.image}} alt="">
            </div>
            <div class="profile p-10">
                <h3 class="text-white">Profile</h3>
                <p>
                    Age:21. <br>
                    Studying at Royal Unversity of PhnomPenh(RUPP). <br>
                    Interesting at Fullstack Developer. <br>
                    Looking for a first job.
                </p>
            </div>
            <div class="contact p-10">
                <h3 class="text-white">Contact me</h3>
                <p>
                    087 774 360 <br>
                    souhengtong480@gmail.com <br>
                    ហេងតុង ស៊ូ <br>
                    ហេងតុង ស៊ូ <br>
                    Address
                </p>
            </div>
        </div>
    </div>
    <div class="description"></div>
</div>
